KITTI/images/
KITTI/devkit/
KITTI/pose_GT/
*.png
records/
result/
models/
pretrained/
*.ipynb
FlowNet_models/*.pth
result_duo/
result_single/
wandb/
FlowNet_models/pytorch/flownetc_EPE1.766.pth
FlowNet_models/pytorch/flownets_bn_EPE2.459.pth
FlowNet_models/pytorch/flownets_from_caffe.pth
FlowNet_models/pytorch/flownets_EPE1.951.pth
datainfo/valid_df_midair_seq5x7_sample3_b24.pickle
datainfo/train_df_midair_seq5x7_sample3_b24.pickle
datainfo/
datainfo/train_df_midair_seq5x7_sample3_b24.pickle
datainfo/valid_df_midair_seq5x7_sample3_b24.pickle
